/* Add CSS Styling */
.paragraph {
    font-family: Verdana, DejaVu Sans , sans-serif;
    color: #e27785;
}

.biggerParagraph {
    font-size: 24px;   
}

#divN1 {
    color: blue;
    font-size: 36px;    
}

#divN2 {
    background-color: rgb(95, 216, 95);
    font-size: 24px;
    font-weight: bold;    
}