/* Add CSS Styling */
.odd {
    font-family: Verdana, "DejaVu Sans" , sans-serif;
    background-color: #e27785;
}

#theSecond {
    color: #0000ff;
    font-size: 36px;  
}

.theThird {
    font-size: 24px;   
}
  
#theFourth {
    background-color: rgb(95, 216, 95);
    font-size: 24px;
    font-weight: bold;    
}