body {
  max-width: 800px;
  margin: 30px auto;
  background: #eee;
  font-family: sans-serif;
}

.card {
  box-sizing: border-box;
  width: 780px;
  background: #ffffff;
  margin: 16px auto;
  padding: 20px;  
}

.title {
  background: #e3f4ff;
  padding: 15px;
  margin-bottom: 16px;
}

.content {
  background: #e3f4ff;
  padding: 30px 15px;
  font-size: 28px;
  margin-bottom: 16px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  font-size: 28px;
  padding: 15px;
}

button {
  display:block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
  padding: 10px 30px;
  font-size: 28px;
}